body{
    font-family: monospace;
    background-image: url('img-fundo/1.PNG');
}

.conteudo{
    background-color: black;
}

.comment{
    background-color: black;
}

ul{
    font-family: Helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
}
#msg{
    font-family: monospace;
}

#menu ul{
margin: 0;
padding: 0;
background-color: rgb(0, 0, 0);
list-style-type: none;
}

#menu ul li{
display: inline;
}

#menu ul li a{
padding: 15px 15px;
display:inline-block;
color:rgb(255, 255, 255);
}
